/* Global Styles */

.w-20{
    width: 20%;
}
.w-15{
    width: 15%;
}
.w-30{
    width: 30%;
}

*{
    background-repeat: no-repeat;
    background-size: cover;
}
.text-shadow{
    text-shadow: 0px 0px 10px black;
}
/*  */

/* Main Page */

.innderbox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.countiner{
    display: flex;
    justify-content: center;
}
.info-infor{
    display: flex;
}
.info-infor > div,p.sort{
    padding: 5px 15px;
    margin-left: 10px;
}
#skills{
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
footer{
    width: 100%;
    position: relative;
    top: 2vh;
    margin: 0;
    background-color: black;
}
footer  ul{
    height: 100%;
    padding: 1vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    display: flex;
    justify-content: center;
}
footer > div{
    width: 90%;
}
.progress{
    height: 2.5vh;
}
.progress-bar{
    background-image: linear-gradient(to right,deepskyblue,royalblue);
}

#aboutme{
    background-image: linear-gradient(130deg ,rgba(0, 191, 255, 0.829),rgba(65, 105, 225, 0.801));
}
.skills{
    background: linear-gradient(45deg,#2ca960bb, #2ed8899f) !important;
}

#document , #workSamples{
    background-image: linear-gradient(-130deg ,rgba(136, 136, 136, 0.541),rgba(230, 230, 230, 0.829));
}

.img-contact{
    width: 50px;
    height: 50px;
    /* object-fit:cover; */
}
/*  */

/* Admin Page */

.bg-setting{
    background-color: rgb(0, 191, 255);
}
.filed{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid black;
}
.filed:focus{
    outline: none;
    font-size: 18px;
    border-width: 2px;
}
form{
    width: 30%;
    margin: 14% auto;
}
.bg-login{
    background-color: rgba(0, 191, 255, 0.795);
}
input[type=submit]:hover{
    background-color : rgb(255, 255, 255);
    color: black;
}
.bg-admin{
    background-color: rgba(0, 191, 255, 0.795);
    background-repeat: no-repeat;
    background-size: cover;
}
canvas{
    border-radius: 1%;
}
.text-setting{
    font-size: 17px;
}
.btn-login{
    font-size: 19px;
    padding: 10px;
}

#fade_background{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;
    z-index: 50;
}
#blur_background{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 51;
}
.centeral-item{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.popup-form{
    padding: 10px;
    border-radius: 5px;
}
input{
    background-color: rgba(0, 0, 0, 0);
    padding: 8px;
    border: none;
    margin-top: 5px;
    border-bottom: 1px solid black;
}
input:focus{
    border-width: 2px;
    outline: none;
}
/*  */