<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static' , filename='styles/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/css/style.css') }}">
	<style type="text/css">
		#line, #area, #bar, #donut {
			width: 500px;
			height: 200px;
		}
	</style>

    <title>Admin Panel</title>
</head>
<body class="bg-admin">
    <main class="d-flex justify-content-between">

        <div class="w-15 p-3 align-self-center">
            <ul class="list-group shadow">
                <li class="list-group-item active p-2 shadow text-center">
                    <h4>Settings</h4>
                </li>
                <li class="d-flex list-group-item justify-content-between p-2 shadow bg-light">
                    <span class="text-setting">Full Name</span>  <a href="#" class="btn btn-outline-dark p-2 w-30">Set</a>
                </li>
                <li class="d-flex list-group-item justify-content-between p-2 shadow bg-light">
                    <span class="text-setting">Profile</span>    <a href="#" class="btn btn-outline-dark p-2 w-30">Set</a>
                </li>
                <li class="d-flex list-group-item justify-content-between p-2 shadow bg-light">
                    <span class="text-setting">background</span> <a href="#" class="btn btn-outline-dark p-2 w-30">Set</a>
                </li>
                <li class="d-flex list-group-item justify-content-between p-2 shadow bg-light">   
                    <span class="text-setting">About</span>      <a href="#" class="btn btn-outline-dark p-2 w-30">Set</a>
                </li>
                <li class="d-flex list-group-item justify-content-between p-2 shadow bg-light">
                    <span class="text-setting">Skills</span>     <a href="#" class="btn btn-outline-dark p-2 w-30">Set</a>
                </li>
                <li class="d-flex list-group-item justify-content-between p-2 shadow bg-light">
                    <span class="text-setting">Work Sample</span><a href="#" class="btn btn-outline-dark p-2 w-30">Set</a>
                </li>
                <li class="d-flex list-group-item justify-content-between p-2 shadow bg-light">
                    <span class="text-setting">Documents</span>  <a href="#" class="btn btn-outline-dark p-2 w-30">Set</a>
                </li>
                <li class="d-flex list-group-item justify-content-between p-2 shadow bg-light">
                    <span class="text-setting">Content</span>    <a href="#" class="btn btn-outline-dark p-2 w-30">Set</a>
                </li>
            </ul>
        </div>


        <div class="w-100 d-flex flex-column m-2 h-100">
            <div class="align-self-end m-2">
                <a href="" class="btn btn-warning">
                    Change Password
                </a>
                <a href="" class="btn btn-danger">
                    Logout
                </a>
            </div>
            <div class="h-100 ">
                <canvas id="myChart" class="bg-light bg-gradient"></canvas>
            </div>
        </div>

    </main>


    <script src="{{ url_for('static' , filename='styles/bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='styles/node_modules/chart.js/dist/chart.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='styles/js/script.js') }}"></script>

</body>
</html>