{% extends 'mod_admin/base.html' %}
{% block head %}
    <title>Admin Panel</title>
{% endblock %}

{% block body %}
    <main class="d-flex justify-content-between">

        <div class="w-15 p-3 align-self-center">
            <ul class="list-group shadow">
                <li class="list-group-item active p-2 shadow text-center">
                    <h4>Settings</h4>
                </li>
                <li class="d-flex list-group-item justify-content-between p-2 shadow bg-light">
                    <span class="text-setting">Full Name</span>  <a href="#" class="btn btn-outline-dark p-2 w-30">Set</a>
                </li>
                <li class="d-flex list-group-item justify-content-between p-2 shadow bg-light">
                    <span class="text-setting">Profile</span>    <a href="#" class="btn btn-outline-dark p-2 w-30">Set</a>
                </li>
                <li class="d-flex list-group-item justify-content-between p-2 shadow bg-light">
                    <span class="text-setting">background</span> <a href="#" class="btn btn-outline-dark p-2 w-30">Set</a>
                </li>
                <li class="d-flex list-group-item justify-content-between p-2 shadow bg-light">   
                    <span class="text-setting">About</span>      <a href="#" class="btn btn-outline-dark p-2 w-30">Set</a>
                </li>
                <li class="d-flex list-group-item justify-content-between p-2 shadow bg-light">
                    <span class="text-setting">Skills</span>     <a href="#" class="btn btn-outline-dark p-2 w-30">Set</a>
                </li>
                <li class="d-flex list-group-item justify-content-between p-2 shadow bg-light">
                    <span class="text-setting">Work Sample</span><a href="#" class="btn btn-outline-dark p-2 w-30">Set</a>
                </li>
                <li class="d-flex list-group-item justify-content-between p-2 shadow bg-light">
                    <span class="text-setting">Documents</span>  <a href="#" class="btn btn-outline-dark p-2 w-30">Set</a>
                </li>
                <li class="d-flex list-group-item justify-content-between p-2 shadow bg-light">
                    <span class="text-setting">Content</span>    <a href="#" class="btn btn-outline-dark p-2 w-30">Set</a>
                </li>
            </ul>
        </div>


        <div class="w-100 d-flex flex-column m-2 h-100">
            <div class="align-self-end m-2">
                <a href="" class="btn btn-warning">
                    Change Password
                </a>
                <a href="{{ url_for('admin.logout') }}" class="btn btn-danger">
                    Logout
                </a>
            </div>
            <div class="h-100 ">
                <canvas id="myChart" class="bg-light bg-gradient"></canvas>
            </div>
        </div>

    </main>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="{{ url_for('static' , filename='styles/js/script.js') }}"></script>

{% endblock %}