<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static' , filename='styles/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/css/style.css') }}">
    <title>Login</title>
</head>
<body class="bg-login">

        <form action="" class="bg-light bg-gradient p-5 shadow">
            <h1 class="m-4">Login to Panel Admin</h1> <br>
            <input type="text" placeholder="UserName" class="input-group filed"> <br>
            <input type="password" placeholder="Password" class="input-group filed"> <br>
            <input type="submit" value="Login" class="btn btn-dark text-center w-100 btn-login">
        </form>


        <script src="{{ url_for('static' , filename='styles/bootstrap/bootstrap.bundle.min.js') }}"></script>
</body>
</html>