<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/css/style.css') }}">

    <title>Personal Site</title>
</head>
<body>
    <header style="background-image: url( {{ url_for('static' , filename='images/background.jpg') }} );" class="pt-5 pb-2">

        <div>
            <div class="text-center">
                <img src="{{ url_for('static' , filename='images/profile.jpg') }}" alt="" class="myimage rounded-circle border border-1 border-secondary" width="190px" height="190px"> 
            </div>
            <h1 class="text-center text-light text-shadow">Pooya Rezaee Moghadam</h1>
            <div class="text-center">
                <a href="" class="btn btn-success bg-gradient">Download Rezomeh</a>
            </div>
        </div>
    </header>

    <main class="">
        <div class="countiner">
            <div id="aboutme" class="col-8 shadow m-4 p-5 pri">
                <h3>About me</h3>
                <p class="sort">
                    I am pooya rezae and .. . . . .. ... . . <br>
                    ... . .. . . . ......................... <br>
                    ............................................
                </p>
            </div>
        </div>

        <div class="m-4 p-2 innderbox ">
            <div class="shadow m-4 p-5 w-100 priv skills">
                <h2 class="text-center">My Skills</h2>
                <hr>
                <div id="skills" class="bg-c-green">
                    <div class="w-20 p-2">
                        <h4 class="text-center">Python</h4> 
                        <div class="progress">
                            <div class="progress-bar" style="width: 95%;"><strong class="">95%</strong></div>
                        </div>
                    </div>

                    <div class="w-20 p-2">
                        <h4 class="text-center">Java Script</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width: 65%;"><strong class="">65%</strong></div>
                        </div>
                    </div>

                    <div class="w-20 p-2">
                        <h4 class="text-center">Django</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width: 15%;"><strong class="">15%</strong></div>
                        </div>
                    </div>

                    <div class="w-20 p-2">
                        <h4 class="text-center">Flask</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width: 25%;"><strong class="">25%</strong></div>
                        </div>
                    </div>
                    <div class="w-20 p-2">
                        <h4 class="text-center">Html</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width: 45%;"><strong class="">45%</strong></div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="workSamples" class="shadow m-4 p-5">
                <h2 class="text-center">Work Samples</h2>
                <hr>
                <div class="innderbox">
                    <a href="#" class="link-dark">
                        <img src="{{ url_for('static' , filename='images/image_test.jpg') }}" alt="" class="img-thumbnail" width="300px" height="300px">
                        <p class="text-center">Proect Pie</p>
                    </a>
                    <a href="#" class="link-dark">
                        <img src="{{ url_for('static' , filename='images/image_test.jpg') }}" alt="" class="img-thumbnail" width="300px" height="300px">
                        <p class="text-center">Proect Pie</p>
                    </a>
                </div>
            </div>

            <div id="document" class="shadow m-4 p-5">
                <h2 class="text-center">document</h2>
                <hr>
                <div class="innderbox">
                    <a href="#" class="link-dark">
                        <img src="{{ url_for('static' , filename='images/image_test.jpg') }}" alt="" class="img-thumbnail" width="300px" height="300px">
                        <p class="text-center">Lpic 1</p>
                    </a>
                    <a href="#" class="link-dark">
                        <img src="{{ url_for('static' , filename='images/image_test.jpg') }}" alt="" class="img-thumbnail" width="300px" height="300px">
                        <p class="text-center">Microsoft</p>
                    </a>
                </div>
            </div>
        </div>
        
    </main>
 
    <footer class="">
        <!-- <h3 class="">Ways Contact Wih me</h3> -->
        <div id="contectme">
            <ul class="text-light">
                <li>+989396231180</li>
                <li>instagram</li>
                <li>pooya.rezaee.official@gmail.com</li>
                <li>
                    <a href="https://github.com" target="_blank"><img src="{{ url_for('static' , filename='images/profile.jpg') }}" alt="github" class="rounded-circle border border-1 border-danger" width="60px" height="60px"></a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>