{% extends 'base.html' %}

{% block head %}
<title>Personal Site</title>
{% endblock %}


{% block body %}
<header style="background-image: url( {{ url_for('static' , filename=settings.url_background) }} );" class="pt-5 pb-2">

    <div>
        <div class="text-center">
            <img src="{{ url_for('static' , filename=settings.url_profile) }}" alt="" class="myimage rounded-circle border border-1 border-secondary" width="190px" height="190px"> 
        </div>
        <h1 class="text-center text-light text-shadow">{{ settings.FullName }}</h1>
        <div class="text-center">
            <a href="{{ url_for('pdf.download') }}" class="btn btn-success bg-gradient">Download CV</a>
        </div>
    </div>
</header>

<main class="">
    <div class="countiner">
        <div id="aboutme" class="col-8 shadow m-4 p-5 pri">
            <h3>About me</h3>
            <p class="sort"><pre>{{ settings.AboutME }}</pre></p>
        </div>
    </div>

    <div class="m-4 p-2 innderbox ">
        <div class="shadow m-4 p-5 w-100 priv skills">
            <h2 class="text-center">My Skills</h2>
            <hr>
            <div id="skills" class="bg-c-green">
                {% for skill in skills %}
                    <div class="w-20 p-2">
                        <h4 class="text-center">{{ skill.Name }}</h4> 
                        <div class="progress">
                            <div class="progress-bar" style="width: {{ skill.Value_skill }}%;"><strong class="">{{ skill.Value_skill }}%</strong></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="workSamples" class="shadow m-4 p-5">
            <h2 class="text-center">Work Samples</h2>
            <hr>
            <div class="innderbox">
                {% for work_sample in work_samples %}
                    {% if work_sample.link %}
                        <a href="{{ work_sample.link }}" class="link-dark">
                            <img src="{{ url_for('static' , filename=work_sample.url_image) }}" alt="{{ work_sample.title }}" class="img-thumbnail" width="300px" height="300px">
                            <p class="text-center">{{ work_sample.title }}</p>
                        </a>
                    {% else %}
                        {% if work_sample.url_image %}
                        <div>
                            <img src="{{ url_for('static' , filename=work_sample.url_image) }}" alt="{{ work_sample.title }}" class="img-thumbnail" width="300px" height="300px">
                            <p class="text-center">{{ work_sample.title }}</p>
                        </div>
                            {% else %}
                            <div>
                                <img src="" alt="{{ work_sample.title }}" class="img-thumbnail" width="300px" height="300px">
                                <p class="text-center">{{ work_sample.title }}</p>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div id="document" class="shadow m-4 p-5">
            <h2 class="text-center">document</h2>
            <hr>
            <div class="innderbox">
                {% for document in documents %}
                    {% if document.link %}
                        <a href="{{ document.link }}" class="link-dark">
                            <img src="{{ url_for('static' , filename=document.url_image) }}" alt="{{ document.title }}" class="img-thumbnail" width="300px" height="300px">
                            <p class="text-center">{{ document.title }}</p>
                        </a>
                    {% else %}
                        {% if document.url_image %}
                        <div>
                            <img src="{{ url_for('static' , filename=document.url_image) }}" alt="{{ document.title }}" class="img-thumbnail" width="300px" height="300px">
                            <p class="text-center">{{ document.title }}</p>
                        </div>
                        {% else %}
                        <div>
                            <img src="" alt="{{ document.title }}" class="img-thumbnail" width="300px" height="300px">
                            <p class="text-center">{{ document.title }}</p>
                        </div>
                        
                        {% endif %}

                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    
</main>

<footer class="">
    <!-- <h3 class="">Ways Contact Wih me</h3> -->
    <div id="contectme">
        <ul class="text-light">
            {% for contat_way in contat_ways %}
                <li>
                    {% if contat_way.url_image %}
                        <a href="{{ contat_way.link }}" target="_blank">
                            <img src="{{ url_for('static' , filename=contat_way.url_image) }}" alt="{{ contat_way.text }}" class="rounded-circle border border-1 " width="60px" height="60px">
                        </a>
                    {% else %}
                        {{ contat_way.text }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</footer>
{% endblock %}